<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048662375433-82ovapgtlmtoaltm8os4lu9hled0h6uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048662375433-82ovapgtlmtoaltm8os4lu9hled0h6uk</string>
	<key>API_KEY</key>
	<string>AIzaSyCbvTncjiNBXGG1kKJylns_Rsv6ABnfL8U</string>
	<key>GCM_SENDER_ID</key>
	<string>1048662375433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutorial1</string>
	<key>PROJECT_ID</key>
	<string>sign-in-da443</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-in-da443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048662375433:ios:96320a4493887f244accd8</string>
</dict>
</plist>